@use "../partials/variables" as variables;

/* =========================
   Font Family
========================= */
.font-1 {
  font-family: var(--font-1);
}

.font-2 {
  font-family: var(--font-2);
}

.font-3 {
  font-family: var(--font-3);
}

/* =========================
   Headings
========================= */
.heading-1 {
  font-family: var(--font-1);
  font-weight: 600;
  font-size: 74px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.heading-2 {
  font-family: var(--font-2);
  font-weight: 500;
  font-style: Medium;
  font-size: 52px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}

.heading-3 {
  font-family: var(--font-3);
  font-weight: 500;
  font-style: Medium;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* =========================
   Title
========================= */

.title-1 {
  font-family: var(--font-2);
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 2%;
  vertical-align: middle;
}

.title-2 {
  font-family: var(--font-3);
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* =========================
   Body Text
========================= */

.body-1 {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.body-2 {
  font-family: var(--font-3);
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.body-3 {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.body-4 {
  font-family: var(--font-2);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 1%;
  vertical-align: middle;
}

/* =========================
   Label
========================= */

.label-1 {
  font-family: var(--font-1);
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.label-2 {
  font-family: var(--font-1);
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.label-3 {
  font-family: var(--font-1);
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 4%;
  vertical-align: middle;
  text-transform: uppercase;
}

/* =========================
   Mobile Typography
========================= */
@media (max-width: 768px) {
  // Heading
  .heading-1-md {
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .heading-2-md {
    font-family: var(--font-2);
    font-weight: 500;
    font-style: Medium;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
  }

  .heading-3-md {
    font-family: var(--font-3);
    font-weight: 650;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  //   Title
  .title-1-md {
    font-family: var(--font-2);
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .title-2-md {
    font-family: var(--font-3);
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  //   Body
  .body-1-md {
    font-family: var(--font-3);
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .body-2-md {
    font-family: var(--font-3);
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  //   tag

  .tag-1-md {
    font-family: var(--font-1);
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  // label

  .label-1-md {
    font-family: var(--font-2);
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .label-2-md {
    font-family: var(--font-3);
    font-weight: 500;
    font-style: Medium;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .label-3-md {
    font-family: var(--font-1);
    font-weight: 500;
    font-style: Medium;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .label-4-md {
    font-family: var(--font-3);
    font-weight: 500;
    font-style: Medium;
    font-size: 9px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
