@font-face {
   font-family: "Roobert TRIAL";
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: url("../../assets/roobert-font-family/RoobertTRIAL-Light-BF67243fd502239.otf") format("opentype");
}

@font-face {
   font-family: "Roobert TRIAL";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../../assets/roobert-font-family/RoobertTRIAL-Regular-BF67243fd53fdf2.otf") format("opentype");
}

@font-face {
   font-family: "Roobert TRIAL";
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url("../../assets/roobert-font-family/RoobertTRIAL-Medium-BF67243fd53e059.otf") format("opentype");
}

@font-face {
   font-family: "Roobert TRIAL";
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url("../../assets/roobert-font-family/RoobertTRIAL-SemiBold-BF67243fd54213d.otf") format("opentype");
}

@font-face {
   font-family: "Roobert TRIAL";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../../assets/roobert-font-family/RoobertTRIAL-Bold-BF67243fd540abb.otf") format("opentype");
}

:root {
  /* =========================
     Colors
  ========================= */

  --color-1: #F15B25;
  --color-2: #000000;
  --color-3: #1F1F1F;
  --color-4: #FFFFFF;
  --color-5: #DBDBDB;
  --color-6: #A9A9A9;

  /* =========================
     Fonts
  ========================= */

  --font-1: "Chakra Petch", sans-serif;
  --font-2: "Roobert TRIAL", sans-serif;
  --font-3: "Aktiv Grotesk Ex", sans-serif;

  /* =========================
     Spacing
  ========================= */

  --space-xs: 20px;
  --space-sm: 30px;
  --space-md: 60px;
  --space-lg: 90px;
  --space-xl: 120px;
  --space-xxl: 220px;

  /* =========================
     Container
  ========================= */

  --container-max: 1512px;
  --container-padding: 40px;

  /* =========================
     Border Radius
  ========================= */

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}