// 
// $space-xs: 20px;
// $space-sm: 30px;
// $space-md: 60px;
// $space-lg: 90px;
// $space-xl: 120px;
// $space-xxl: 220px;

//color
:root {
  //Colors
  --color-1: #F15B25;
  --color-2: #000000;
  --color-3: #1F1F1F;
  --color-4: #FFFFFF;
  --color-5: #DBDBDB;
  --color-6: #A9A9A9; 
  //font
// Fonts
  --font-1: "Chakra Petch", sans-serif;
  --font-2: "Roobert TRIAL", sans-serif;
  --font-3: "Aktiv Grotesk Ex", sans-serif;
}